//global styles
@import './settings.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  margin: 24px 0;
}

h2,
h3,
h4 {
  margin: 0 !important;
}

.flex {
  display: flex;
}

.alignItems {
  align-items: center;
}
